{% extends "base.html" %}

{% block content %}
<!-- Content Header (Page header) -->
                <section class="content-header">
                    <h1>
                       All Users 
                        <small>Control panel</small>
                    </h1>
                    <ol class="breadcrumb">
                        <li><a href="/accounts/auth"><i class="fa fa-dashboard"></i> Home</a></li>
                         <li><a href="/surveys/allsurveys">All Survey</a></li>
                        <li class="active">All user</li>
                    </ol>
                </section>

                <!-- Main content -->
                <section class="content">
                    <div class="row">
                        <div class="col-xs-12">
                           
                                
                                <div class="box-header">
                                    <h3 class="box-title"> "{{ survey_data.su_name }}" Survey User Table</h3>   
                                    
                                </div><!-- /.box-header -->
                                
                                <div class="box-body table-responsive">
                                    <table id="example2" class="table table-bordered table-hover">
                                        <thead>
                                            <tr>
                                                <th>Username</th>
                                                <th>Password</th>
                                                <th>Is Answered</th>
                                                <th>Answered date</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        {% for items in user_survey %}
                                            <tr >
                                                <td>{{ items.user.username }}</td>
                                                <td>{{ items.user.password }}</td>
                                                <td>{{ items.is_answered }}</td>
                                                <td>{{ items.answered_date }}</td>
                                                 
                                            </tr>
                                         {% endfor %}   
                                        </tbody>
                                        <tfoot>
                                            <tr>
                                                <th>Username</th>
                                                <th>Password</th>
                                                <th>Is Answered</th>
                                                <th>Answered date</th>
                                            </tr>
                                        </tfoot>
                                    </table>
                                </div><!-- /.box-body -->
                            </div><!-- /.box -->
                            
                          
                        </div>
                    </div>

                </section><!-- /.content -->  

{% endblock content %}


